{% if message %}
<script>
  alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- <link href="styles/style.css"rel="stylesheet"> -->
    <link href="../../static/css/loginstyle.css" rel="stylesheet" />
  </head>
  <body>
    <section class="login">
      <div class="login-wrapper">
        <div class="content">
          <h1 class="login-heading">Login</h1>
          <form action="/home/" method="post">
            {% csrf_token %}
            <div class="input-group">
              <label class="input-label">Email</label>
              <input type="email" class="field" name="email"/>
            </div>
            <div class="input-group">
              <label class="input-label">Password</label>
              <input type="password" class="field" name="password"/>
            </div>

            <div class="input-group">
              <label class="input-label">Role: </label>
              <input list="ut" class="field" name="role"/>
              <datalist id="ut">
                <option value="Farmer"></option>
                <option value="Quality checker"></option>
                <option value="Consumer"></option>
              </datalist>
            </div>

            <div>
              <input type="submit" class="submit-btn" value="Login"/>
            </div>
            <br>
            <h1 class="sign-up" style="justify-content: center;">
              Don't have an account? <a href="{%url 'register' %}">Sign up here..</a>
            </h1>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
